.elementor-302 .elementor-element.elementor-element-bc2d3e0 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --align-items: center;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    box-shadow: 0px 80px 160px -72px rgba(0, 0, 0, 0.08);
    --padding-block-start: 80px;
    --padding-block-end: 80px;
    --padding-inline-start: 40px;
    --padding-inline-end: 40px;
}

.elementor-302 .elementor-element.elementor-element-ea59254 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}

.elementor-302 .elementor-element.elementor-element-1e9fc0e {
    --display: flex;
    --background-transition: 0.3s;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}

.elementor-302 .elementor-element.elementor-element-2dbec0c .gallery-item {
    padding: 0 30px 30px 0;
}

.elementor-302 .elementor-element.elementor-element-2dbec0c .gallery {
    margin: 0 -30px -30px 0;
}

.elementor-302 .elementor-element.elementor-element-2dbec0c .gallery-item .gallery-caption {
    text-align: center;
}

.elementor-302 .elementor-element.elementor-element-2dbec0c>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-302 .elementor-element.elementor-element-13221ff {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --align-items: stretch;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 300px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 160px;
    --padding-block-end: 0px;
    --padding-inline-start: 40px;
    --padding-inline-end: 40px;
    --z-index: 2;
}

.elementor-302 .elementor-element.elementor-element-76d1b58 {
    --display: flex;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}

.elementor-302 .elementor-element.elementor-element-d2edf76 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --align-items: center;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 120px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}

.elementor-302 .elementor-element.elementor-element-f74f52a {
    --display: flex;
    --background-transition: 0.3s;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}

.elementor-302 .elementor-element.elementor-element-f74f52a:not(.elementor-motion-effects-element-type-background),
.elementor-302 .elementor-element.elementor-element-f74f52a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("http://www.learningme.liveblog365.com/wp-content/uploads/2020/09/feature-bg.svg");
    background-position: bottom center;
    background-repeat: no-repeat;
}

.elementor-302 .elementor-element.elementor-element-f74f52a,
.elementor-302 .elementor-element.elementor-element-f74f52a::before {
    --border-transition: 0.3s;
}

.elementor-302 .elementor-element.elementor-element-de40b9f>.elementor-widget-container {
    margin: -56px -40px -70px 0px;
}

.elementor-302 .elementor-element.elementor-element-32eddc3 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 104px;
    --padding-inline-end: 0px;
}

.elementor-302 .elementor-element.elementor-element-261ba39 .elementor-heading-title {
    color: var( --e-global-color-astglobalcolor0);
}

.elementor-302 .elementor-element.elementor-element-2be5a67>.elementor-widget-container {
    margin: 4px 0px 12px 0px;
}

.elementor-302 .elementor-element.elementor-element-e3b7d3d>.elementor-widget-container {
    margin: 0px 0px -8px 0px;
}

.elementor-302 .elementor-element.elementor-element-f01f447 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(4px/2);
}

.elementor-302 .elementor-element.elementor-element-f01f447 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(4px/2);
}

.elementor-302 .elementor-element.elementor-element-f01f447 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(4px/2);
    margin-left: calc(4px/2);
}

.elementor-302 .elementor-element.elementor-element-f01f447 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-4px/2);
    margin-left: calc(-4px/2);
}

body.rtl .elementor-302 .elementor-element.elementor-element-f01f447 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-4px/2);
}

body:not(.rtl) .elementor-302 .elementor-element.elementor-element-f01f447 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-4px/2);
}

.elementor-302 .elementor-element.elementor-element-f01f447 .elementor-icon-list-icon i {
    color: var( --e-global-color-astglobalcolor1);
    transition: color 0.3s;
}

.elementor-302 .elementor-element.elementor-element-f01f447 .elementor-icon-list-icon svg {
    fill: var( --e-global-color-astglobalcolor1);
    transition: fill 0.3s;
}

.elementor-302 .elementor-element.elementor-element-f01f447 {
    --e-icon-list-icon-size: 16px;
    --icon-vertical-offset: 0px;
}

.elementor-302 .elementor-element.elementor-element-f01f447 .elementor-icon-list-icon {
    padding-right: 8px;
}

.elementor-302 .elementor-element.elementor-element-f01f447 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-302 .elementor-element.elementor-element-f01f447 .elementor-icon-list-item>a {
    font-weight: 500;
}

.elementor-302 .elementor-element.elementor-element-f01f447 .elementor-icon-list-text {
    color: var( --e-global-color-astglobalcolor2);
    transition: color 0.3s;
}

.elementor-302 .elementor-element.elementor-element-f067a6f {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --align-items: center;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    border-style: solid;
    --border-style: solid;
    border-width: 0px 0px 0px 0px;
    --border-block-start-width: 0px;
    --border-inline-end-width: 0px;
    --border-block-end-width: 0px;
    --border-inline-start-width: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}

.elementor-302 .elementor-element.elementor-element-f067a6f,
.elementor-302 .elementor-element.elementor-element-f067a6f::before {
    --border-transition: 0.3s;
}

.elementor-302 .elementor-element.elementor-element-2287200 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 104px;
}

.elementor-302 .elementor-element.elementor-element-c3f70c2 .elementor-heading-title {
    color: var( --e-global-color-astglobalcolor0);
}

.elementor-302 .elementor-element.elementor-element-bb9680b>.elementor-widget-container {
    margin: 4px 0px 12px 0px;
}

.elementor-302 .elementor-element.elementor-element-d1857d5>.elementor-widget-container {
    margin: 0px 0px -8px 0px;
}

.elementor-302 .elementor-element.elementor-element-4642405 .elementor-button {
    fill: var( --e-global-color-astglobalcolor1);
    color: var( --e-global-color-astglobalcolor1);
    background-color: var( --e-global-color-astglobalcolor4);
}

.elementor-302 .elementor-element.elementor-element-4642405 .elementor-button:hover,
.elementor-302 .elementor-element.elementor-element-4642405 .elementor-button:focus {
    color: var( --e-global-color-astglobalcolor4);
    background-color: var( --e-global-color-astglobalcolor0);
}

.elementor-302 .elementor-element.elementor-element-4642405 .elementor-button:hover svg,
.elementor-302 .elementor-element.elementor-element-4642405 .elementor-button:focus svg {
    fill: var( --e-global-color-astglobalcolor4);
}

.elementor-302 .elementor-element.elementor-element-6a5b05f {
    --display: flex;
    --background-transition: 0.3s;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}

.elementor-302 .elementor-element.elementor-element-6a5b05f:not(.elementor-motion-effects-element-type-background),
.elementor-302 .elementor-element.elementor-element-6a5b05f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("http://www.learningme.liveblog365.com/wp-content/uploads/2020/09/feature-bg-2.svg");
    background-position: top center;
    background-repeat: no-repeat;
}

.elementor-302 .elementor-element.elementor-element-6a5b05f,
.elementor-302 .elementor-element.elementor-element-6a5b05f::before {
    --border-transition: 0.3s;
}

.elementor-302 .elementor-element.elementor-element-dd48e5e>.elementor-widget-container {
    margin: 0px -40px -120px 0px;
}

.elementor-302 .elementor-element.elementor-element-0bfe681 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --align-items: stretch;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --margin-block-start: -240px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 360px;
    --padding-block-end: 80px;
    --padding-inline-start: 40px;
    --padding-inline-end: 40px;
    --z-index: 1;
}

.elementor-302 .elementor-element.elementor-element-0bfe681:not(.elementor-motion-effects-element-type-background),
.elementor-302 .elementor-element.elementor-element-0bfe681>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-astglobalcolor4);
}

.elementor-302 .elementor-element.elementor-element-0bfe681,
.elementor-302 .elementor-element.elementor-element-0bfe681::before {
    --border-transition: 0.3s;
}

.elementor-302 .elementor-element.elementor-element-0bfe681>.elementor-shape-top .elementor-shape-fill,
.elementor-302 .elementor-element.elementor-element-0bfe681>.e-con-inner>.elementor-shape-top .elementor-shape-fill {
    fill: var( --e-global-color-astglobalcolor5);
}

.elementor-302 .elementor-element.elementor-element-0bfe681>.elementor-shape-top svg,
.elementor-302 .elementor-element.elementor-element-0bfe681>.e-con-inner>.elementor-shape-top svg {
    height: 240px;
    transform: translateX(-50%) rotateY(180deg);
}

.elementor-302 .elementor-element.elementor-element-7d017c6 {
    --display: flex;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}

.elementor-302 .elementor-element.elementor-element-801b51e {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --align-items: stretch;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 80px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}

.elementor-302 .elementor-element.elementor-element-90a1bad {
    --display: flex;
    --background-transition: 0.3s;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 80px;
}

.elementor-302 .elementor-element.elementor-element-64ff10e .elementor-icon-box-wrapper {
    text-align: left;
}

.elementor-302 .elementor-element.elementor-element-64ff10e.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-astglobalcolor1);
}

.elementor-302 .elementor-element.elementor-element-64ff10e.elementor-view-framed .elementor-icon,
.elementor-302 .elementor-element.elementor-element-64ff10e.elementor-view-default .elementor-icon {
    fill: var( --e-global-color-astglobalcolor1);
    color: var( --e-global-color-astglobalcolor1);
    border-color: var( --e-global-color-astglobalcolor1);
}

.elementor-302 .elementor-element.elementor-element-64ff10e {
    --icon-box-icon-margin: 12px;
}

.elementor-302 .elementor-element.elementor-element-64ff10e .elementor-icon {
    font-size: 24px;
    padding: 16px;
    border-radius: 16px 16px 16px 16px;
}

.elementor-302 .elementor-element.elementor-element-64ff10e .elementor-icon-box-title {
    margin-bottom: 12px;
}

.elementor-302 .elementor-element.elementor-element-6d9b82d {
    --display: flex;
    --background-transition: 0.3s;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 40px;
    --padding-inline-end: 40px;
}

.elementor-302 .elementor-element.elementor-element-967c213 .elementor-icon-box-wrapper {
    text-align: left;
}

.elementor-302 .elementor-element.elementor-element-967c213.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-astglobalcolor1);
}

.elementor-302 .elementor-element.elementor-element-967c213.elementor-view-framed .elementor-icon,
.elementor-302 .elementor-element.elementor-element-967c213.elementor-view-default .elementor-icon {
    fill: var( --e-global-color-astglobalcolor1);
    color: var( --e-global-color-astglobalcolor1);
    border-color: var( --e-global-color-astglobalcolor1);
}

.elementor-302 .elementor-element.elementor-element-967c213 {
    --icon-box-icon-margin: 12px;
}

.elementor-302 .elementor-element.elementor-element-967c213 .elementor-icon {
    font-size: 24px;
    padding: 16px;
    border-radius: 16px 16px 16px 16px;
}

.elementor-302 .elementor-element.elementor-element-967c213 .elementor-icon-box-title {
    margin-bottom: 12px;
}

.elementor-302 .elementor-element.elementor-element-36743d1 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 80px;
    --padding-inline-end: 0px;
}

.elementor-302 .elementor-element.elementor-element-597e939 .elementor-icon-box-wrapper {
    text-align: left;
}

.elementor-302 .elementor-element.elementor-element-597e939.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-astglobalcolor1);
}

.elementor-302 .elementor-element.elementor-element-597e939.elementor-view-framed .elementor-icon,
.elementor-302 .elementor-element.elementor-element-597e939.elementor-view-default .elementor-icon {
    fill: var( --e-global-color-astglobalcolor1);
    color: var( --e-global-color-astglobalcolor1);
    border-color: var( --e-global-color-astglobalcolor1);
}

.elementor-302 .elementor-element.elementor-element-597e939 {
    --icon-box-icon-margin: 12px;
}

.elementor-302 .elementor-element.elementor-element-597e939 .elementor-icon {
    font-size: 24px;
    padding: 16px;
    border-radius: 16px 16px 16px 16px;
}

.elementor-302 .elementor-element.elementor-element-597e939 .elementor-icon-box-title {
    margin-bottom: 12px;
}

.elementor-302 .elementor-element.elementor-element-92803e3 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --align-items: stretch;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}

.elementor-302 .elementor-element.elementor-element-07dd648 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 80px;
}

.elementor-302 .elementor-element.elementor-element-ea88eaf .elementor-icon-box-wrapper {
    text-align: left;
}

.elementor-302 .elementor-element.elementor-element-ea88eaf.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-astglobalcolor1);
}

.elementor-302 .elementor-element.elementor-element-ea88eaf.elementor-view-framed .elementor-icon,
.elementor-302 .elementor-element.elementor-element-ea88eaf.elementor-view-default .elementor-icon {
    fill: var( --e-global-color-astglobalcolor1);
    color: var( --e-global-color-astglobalcolor1);
    border-color: var( --e-global-color-astglobalcolor1);
}

.elementor-302 .elementor-element.elementor-element-ea88eaf {
    --icon-box-icon-margin: 12px;
}

.elementor-302 .elementor-element.elementor-element-ea88eaf .elementor-icon {
    font-size: 24px;
    padding: 16px;
    border-radius: 16px 16px 16px 16px;
}

.elementor-302 .elementor-element.elementor-element-ea88eaf .elementor-icon-box-title {
    margin-bottom: 12px;
}

.elementor-302 .elementor-element.elementor-element-3475308 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 40px;
    --padding-inline-end: 40px;
}

.elementor-302 .elementor-element.elementor-element-4cb9b5c .elementor-icon-box-wrapper {
    text-align: left;
}

.elementor-302 .elementor-element.elementor-element-4cb9b5c.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-astglobalcolor1);
}

.elementor-302 .elementor-element.elementor-element-4cb9b5c.elementor-view-framed .elementor-icon,
.elementor-302 .elementor-element.elementor-element-4cb9b5c.elementor-view-default .elementor-icon {
    fill: var( --e-global-color-astglobalcolor1);
    color: var( --e-global-color-astglobalcolor1);
    border-color: var( --e-global-color-astglobalcolor1);
}

.elementor-302 .elementor-element.elementor-element-4cb9b5c {
    --icon-box-icon-margin: 12px;
}

.elementor-302 .elementor-element.elementor-element-4cb9b5c .elementor-icon {
    font-size: 24px;
    padding: 16px;
    border-radius: 16px 16px 16px 16px;
}

.elementor-302 .elementor-element.elementor-element-4cb9b5c .elementor-icon-box-title {
    margin-bottom: 12px;
}

.elementor-302 .elementor-element.elementor-element-c6a5124 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 80px;
    --padding-inline-end: 0px;
}

.elementor-302 .elementor-element.elementor-element-c109b15 .elementor-icon-box-wrapper {
    text-align: left;
}

.elementor-302 .elementor-element.elementor-element-c109b15.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-astglobalcolor1);
}

.elementor-302 .elementor-element.elementor-element-c109b15.elementor-view-framed .elementor-icon,
.elementor-302 .elementor-element.elementor-element-c109b15.elementor-view-default .elementor-icon {
    fill: var( --e-global-color-astglobalcolor1);
    color: var( --e-global-color-astglobalcolor1);
    border-color: var( --e-global-color-astglobalcolor1);
}

.elementor-302 .elementor-element.elementor-element-c109b15 {
    --icon-box-icon-margin: 12px;
}

.elementor-302 .elementor-element.elementor-element-c109b15 .elementor-icon {
    font-size: 24px;
    padding: 16px;
    border-radius: 16px 16px 16px 16px;
}

.elementor-302 .elementor-element.elementor-element-c109b15 .elementor-icon-box-title {
    margin-bottom: 12px;
}

.elementor-302 .elementor-element.elementor-element-ec19095 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --align-items: stretch;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --overlay-opacity: 0.2;
    --padding-block-start: 160px;
    --padding-block-end: 0px;
    --padding-inline-start: 40px;
    --padding-inline-end: 40px;
}

.elementor-302 .elementor-element.elementor-element-ec19095:not(.elementor-motion-effects-element-type-background),
.elementor-302 .elementor-element.elementor-element-ec19095>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-astglobalcolor2);
}

.elementor-302 .elementor-element.elementor-element-ec19095::before,
.elementor-302 .elementor-element.elementor-element-ec19095>.elementor-background-video-container::before,
.elementor-302 .elementor-element.elementor-element-ec19095>.e-con-inner>.elementor-background-video-container::before,
.elementor-302 .elementor-element.elementor-element-ec19095>.elementor-background-slideshow::before,
.elementor-302 .elementor-element.elementor-element-ec19095>.e-con-inner>.elementor-background-slideshow::before,
.elementor-302 .elementor-element.elementor-element-ec19095>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
    --background-overlay: '';
    background-image: url("http://www.learningme.liveblog365.com/wp-content/uploads/2020/09/tech-startup-community-section-bg-img.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-302 .elementor-element.elementor-element-ec19095,
.elementor-302 .elementor-element.elementor-element-ec19095::before {
    --border-transition: 0.3s;
}

.elementor-302 .elementor-element.elementor-element-ec19095>.elementor-shape-top .elementor-shape-fill,
.elementor-302 .elementor-element.elementor-element-ec19095>.e-con-inner>.elementor-shape-top .elementor-shape-fill {
    fill: var( --e-global-color-astglobalcolor4);
}

.elementor-302 .elementor-element.elementor-element-ec19095>.elementor-shape-top svg,
.elementor-302 .elementor-element.elementor-element-ec19095>.e-con-inner>.elementor-shape-top svg {
    height: 240px;
    transform: translateX(-50%) rotateY(180deg);
}

.elementor-302 .elementor-element.elementor-element-3564e25 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}

.elementor-302 .elementor-element.elementor-element-8cd58ca .elementor-icon-wrapper {
    text-align: left;
}

.elementor-302 .elementor-element.elementor-element-8cd58ca.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-astglobalcolor1);
    color: var( --e-global-color-astglobalcolor5);
}

.elementor-302 .elementor-element.elementor-element-8cd58ca.elementor-view-framed .elementor-icon,
.elementor-302 .elementor-element.elementor-element-8cd58ca.elementor-view-default .elementor-icon {
    color: var( --e-global-color-astglobalcolor1);
    border-color: var( --e-global-color-astglobalcolor1);
}

.elementor-302 .elementor-element.elementor-element-8cd58ca.elementor-view-framed .elementor-icon,
.elementor-302 .elementor-element.elementor-element-8cd58ca.elementor-view-default .elementor-icon svg {
    fill: var( --e-global-color-astglobalcolor1);
}

.elementor-302 .elementor-element.elementor-element-8cd58ca.elementor-view-framed .elementor-icon {
    background-color: var( --e-global-color-astglobalcolor5);
}

.elementor-302 .elementor-element.elementor-element-8cd58ca.elementor-view-stacked .elementor-icon svg {
    fill: var( --e-global-color-astglobalcolor5);
}

.elementor-302 .elementor-element.elementor-element-8cd58ca .elementor-icon {
    font-size: 40px;
    padding: 24px;
    border-radius: 16px 16px 16px 16px;
}

.elementor-302 .elementor-element.elementor-element-8cd58ca .elementor-icon svg {
    height: 40px;
}

.elementor-302 .elementor-element.elementor-element-8cd58ca>.elementor-widget-container {
    margin: 0px 0px 64px 0px;
}

.elementor-302 .elementor-element.elementor-element-ae0e31b .elementor-heading-title {
    color: var( --e-global-color-astglobalcolor5);
}

.elementor-302 .elementor-element.elementor-element-73d7f84 .elementor-heading-title {
    color: var( --e-global-color-astglobalcolor5);
}

.elementor-302 .elementor-element.elementor-element-73d7f84>.elementor-widget-container {
    margin: 4px 0px 12px 0px;
    padding: 0% 46% 0% 0%;
}

.elementor-302 .elementor-element.elementor-element-d6f33e1 {
    color: var( --e-global-color-astglobalcolor5);
}

.elementor-302 .elementor-element.elementor-element-d6f33e1>.elementor-widget-container {
    padding: 0% 55% 0% 0%;
}

.elementor-302 .elementor-element.elementor-element-8cfa0b9 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --align-items: stretch;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    border-style: solid;
    --border-style: solid;
    border-width: 1px 0px 0px 0px;
    --border-block-start-width: 1px;
    --border-inline-end-width: 0px;
    --border-block-end-width: 0px;
    --border-inline-start-width: 0px;
    border-color: #FFFFFF42;
    --border-color: #FFFFFF42;
    --margin-block-start: 80px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 40px;
    --padding-block-end: 40px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}

.elementor-302 .elementor-element.elementor-element-8cfa0b9,
.elementor-302 .elementor-element.elementor-element-8cfa0b9::before {
    --border-transition: 0.3s;
}

.elementor-302 .elementor-element.elementor-element-23ded02 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}

.elementor-302 .elementor-element.elementor-element-a2a67c1 .elementor-counter-number-wrapper {
    color: var( --e-global-color-astglobalcolor5);
    font-size: 48px;
}

.elementor-302 .elementor-element.elementor-element-a2a67c1 .elementor-counter-title {
    color: var( --e-global-color-astglobalcolor4);
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.elementor-302 .elementor-element.elementor-element-ddca3ab {
    --display: flex;
    --background-transition: 0.3s;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}

.elementor-302 .elementor-element.elementor-element-35d1909 .elementor-counter-number-wrapper {
    color: var( --e-global-color-astglobalcolor5);
    font-size: 48px;
}

.elementor-302 .elementor-element.elementor-element-35d1909 .elementor-counter-title {
    color: var( --e-global-color-astglobalcolor4);
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.elementor-302 .elementor-element.elementor-element-b61e18b {
    --display: flex;
    --background-transition: 0.3s;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}

.elementor-302 .elementor-element.elementor-element-088e5d1 .elementor-counter-number-wrapper {
    color: var( --e-global-color-astglobalcolor5);
    font-size: 48px;
}

.elementor-302 .elementor-element.elementor-element-088e5d1 .elementor-counter-title {
    color: var( --e-global-color-astglobalcolor4);
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.elementor-302 .elementor-element.elementor-element-39ec3b0 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}

.elementor-302 .elementor-element.elementor-element-b813a51 .elementor-counter-number-wrapper {
    color: var( --e-global-color-astglobalcolor5);
    font-size: 48px;
}

.elementor-302 .elementor-element.elementor-element-b813a51 .elementor-counter-title {
    color: var( --e-global-color-astglobalcolor4);
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.elementor-302 .elementor-element.elementor-element-a652bbf {
    --display: flex;
    --background-transition: 0.3s;
}

@media(min-width:768px) {
    .elementor-302 .elementor-element.elementor-element-ea59254 {
        --width: 20%;
    }
    .elementor-302 .elementor-element.elementor-element-1e9fc0e {
        --width: 79.665%;
    }
    .elementor-302 .elementor-element.elementor-element-f74f52a {
        --width: 50%;
    }
    .elementor-302 .elementor-element.elementor-element-32eddc3 {
        --width: 50%;
    }
    .elementor-302 .elementor-element.elementor-element-2287200 {
        --width: 50%;
    }
    .elementor-302 .elementor-element.elementor-element-6a5b05f {
        --width: 50%;
    }
    .elementor-302 .elementor-element.elementor-element-90a1bad {
        --width: 33.33%;
    }
    .elementor-302 .elementor-element.elementor-element-6d9b82d {
        --width: 33.33%;
    }
    .elementor-302 .elementor-element.elementor-element-36743d1 {
        --width: 33.33%;
    }
    .elementor-302 .elementor-element.elementor-element-07dd648 {
        --width: 33.33%;
    }
    .elementor-302 .elementor-element.elementor-element-3475308 {
        --width: 33.33%;
    }
    .elementor-302 .elementor-element.elementor-element-c6a5124 {
        --width: 33.33%;
    }
    .elementor-302 .elementor-element.elementor-element-23ded02 {
        --width: 25%;
    }
    .elementor-302 .elementor-element.elementor-element-ddca3ab {
        --width: 25%;
    }
    .elementor-302 .elementor-element.elementor-element-b61e18b {
        --width: 25%;
    }
    .elementor-302 .elementor-element.elementor-element-39ec3b0 {
        --width: 25%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-302 .elementor-element.elementor-element-ea59254 {
        --width: 100%;
    }
    .elementor-302 .elementor-element.elementor-element-1e9fc0e {
        --width: 100%;
    }
}

@media(max-width:1024px) {
    .elementor-302 .elementor-element.elementor-element-bc2d3e0 {
        --flex-wrap: wrap;
        --padding-block-start: 64px;
        --padding-block-end: 64px;
        --padding-inline-start: 40px;
        --padding-inline-end: 40px;
    }
    .elementor-302 .elementor-element.elementor-element-ea59254 {
        --padding-block-start: 0px;
        --padding-block-end: 32px;
        --padding-inline-start: 0px;
        --padding-inline-end: 0px;
    }
    .elementor-302 .elementor-element.elementor-element-55e370b {
        text-align: center;
    }
    .elementor-302 .elementor-element.elementor-element-1e9fc0e {
        --margin-block-start: 0px;
        --margin-block-end: 0px;
        --margin-inline-start: 0px;
        --margin-inline-end: 0px;
    }
    .elementor-302 .elementor-element.elementor-element-2dbec0c>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-302 .elementor-element.elementor-element-13221ff {
        --padding-block-start: 120px;
        --padding-block-end: 0px;
        --padding-inline-start: 40px;
        --padding-inline-end: 40px;
    }
    .elementor-302 .elementor-element.elementor-element-76d1b58 {
        --justify-content: flex-end;
    }
    .elementor-302 .elementor-element.elementor-element-d2edf76 {
        --justify-content: center;
        --align-items: stretch;
        --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    }
    .elementor-302 .elementor-element.elementor-element-f74f52a:not(.elementor-motion-effects-element-type-background),
    .elementor-302 .elementor-element.elementor-element-f74f52a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-image: url("http://www.learningme.liveblog365.com/wp-content/uploads/2020/09/feature-bg.svg");
        background-position: bottom left;
        background-size: contain;
    }
    .elementor-302 .elementor-element.elementor-element-f74f52a {
        --margin-block-start: 0px;
        --margin-block-end: 0px;
        --margin-inline-start: 0px;
        --margin-inline-end: 0px;
        --padding-block-start: 0px;
        --padding-block-end: 0px;
        --padding-inline-start: 0px;
        --padding-inline-end: 0px;
    }
    .elementor-302 .elementor-element.elementor-element-de40b9f>.elementor-widget-container {
        margin: -2px 0px -64px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-302 .elementor-element.elementor-element-32eddc3 {
        --margin-block-start: 0px;
        --margin-block-end: 0px;
        --margin-inline-start: 0px;
        --margin-inline-end: 0px;
        --padding-block-start: 0px;
        --padding-block-end: 0px;
        --padding-inline-start: 24px;
        --padding-inline-end: 0px;
    }
    .elementor-302 .elementor-element.elementor-element-f067a6f {
        border-width: 0px 0px 0px 0px;
        --border-block-start-width: 0px;
        --border-inline-end-width: 0px;
        --border-block-end-width: 0px;
        --border-inline-start-width: 0px;
    }
    .elementor-302 .elementor-element.elementor-element-2287200 {
        --margin-block-start: 0px;
        --margin-block-end: 0px;
        --margin-inline-start: 0px;
        --margin-inline-end: 0px;
    }
    .elementor-302 .elementor-element.elementor-element-6a5b05f:not(.elementor-motion-effects-element-type-background),
    .elementor-302 .elementor-element.elementor-element-6a5b05f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-size: contain;
    }
    .elementor-302 .elementor-element.elementor-element-6a5b05f {
        --margin-block-start: 0px;
        --margin-block-end: 0px;
        --margin-inline-start: 0px;
        --margin-inline-end: 0px;
    }
    .elementor-302 .elementor-element.elementor-element-dd48e5e>.elementor-widget-container {
        margin: -16px 0px -72px 0px;
    }
    .elementor-302 .elementor-element.elementor-element-0bfe681>.elementor-shape-top svg,
    .elementor-302 .elementor-element.elementor-element-0bfe681>.e-con-inner>.elementor-shape-top svg {
        height: 200px;
    }
    .elementor-302 .elementor-element.elementor-element-0bfe681 {
        --margin-block-start: -144px;
        --margin-block-end: 0px;
        --margin-inline-start: 0px;
        --margin-inline-end: 0px;
        --padding-block-start: 240px;
        --padding-block-end: 40px;
        --padding-inline-start: 40px;
        --padding-inline-end: 40px;
    }
    .elementor-302 .elementor-element.elementor-element-90a1bad {
        --padding-block-start: 0px;
        --padding-block-end: 0px;
        --padding-inline-start: 0px;
        --padding-inline-end: 32px;
    }
    .elementor-302 .elementor-element.elementor-element-6d9b82d {
        --padding-block-start: 0px;
        --padding-block-end: 0px;
        --padding-inline-start: 16px;
        --padding-inline-end: 16px;
    }
    .elementor-302 .elementor-element.elementor-element-36743d1 {
        --padding-block-start: 0px;
        --padding-block-end: 0px;
        --padding-inline-start: 32px;
        --padding-inline-end: 0px;
    }
    .elementor-302 .elementor-element.elementor-element-07dd648 {
        --padding-block-start: 0px;
        --padding-block-end: 0px;
        --padding-inline-start: 0px;
        --padding-inline-end: 32px;
    }
    .elementor-302 .elementor-element.elementor-element-3475308 {
        --padding-block-start: 0px;
        --padding-block-end: 0px;
        --padding-inline-start: 16px;
        --padding-inline-end: 16px;
    }
    .elementor-302 .elementor-element.elementor-element-c6a5124 {
        --padding-block-start: 0px;
        --padding-block-end: 0px;
        --padding-inline-start: 32px;
        --padding-inline-end: 0px;
    }
    .elementor-302 .elementor-element.elementor-element-ec19095>.elementor-shape-top svg,
    .elementor-302 .elementor-element.elementor-element-ec19095>.e-con-inner>.elementor-shape-top svg {
        height: 200px;
    }
    .elementor-302 .elementor-element.elementor-element-ec19095 {
        --padding-block-start: 136px;
        --padding-block-end: 0px;
        --padding-inline-start: 40px;
        --padding-inline-end: 40px;
    }
    .elementor-302 .elementor-element.elementor-element-d6f33e1>.elementor-widget-container {
        padding: 0% 48% 0% 0%;
    }
    .elementor-302 .elementor-element.elementor-element-a2a67c1 .elementor-counter-number-wrapper {
        font-size: 32px;
    }
    .elementor-302 .elementor-element.elementor-element-a2a67c1 .elementor-counter-title {
        font-size: 12px;
    }
    .elementor-302 .elementor-element.elementor-element-35d1909 .elementor-counter-number-wrapper {
        font-size: 32px;
    }
    .elementor-302 .elementor-element.elementor-element-35d1909 .elementor-counter-title {
        font-size: 12px;
    }
    .elementor-302 .elementor-element.elementor-element-088e5d1 .elementor-counter-number-wrapper {
        font-size: 32px;
    }
    .elementor-302 .elementor-element.elementor-element-088e5d1 .elementor-counter-title {
        font-size: 12px;
    }
    .elementor-302 .elementor-element.elementor-element-b813a51 .elementor-counter-number-wrapper {
        font-size: 32px;
    }
    .elementor-302 .elementor-element.elementor-element-b813a51 .elementor-counter-title {
        font-size: 12px;
    }
}

@media(max-width:767px) {
    .elementor-302 .elementor-element.elementor-element-1e9fc0e {
        --margin-block-start: 0px;
        --margin-block-end: 0px;
        --margin-inline-start: 0px;
        --margin-inline-end: 0px;
    }
    .elementor-302 .elementor-element.elementor-element-2dbec0c>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-302 .elementor-element.elementor-element-13221ff {
        --padding-block-start: 64px;
        --padding-block-end: 24px;
        --padding-inline-start: 24px;
        --padding-inline-end: 24px;
    }
    .elementor-302 .elementor-element.elementor-element-d2edf76 {
        --margin-block-start: 0px;
        --margin-block-end: 56px;
        --margin-inline-start: 0px;
        --margin-inline-end: 0px;
    }
    .elementor-302 .elementor-element.elementor-element-de40b9f>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-302 .elementor-element.elementor-element-32eddc3 {
        --margin-block-start: 0px;
        --margin-block-end: 0px;
        --margin-inline-start: 0px;
        --margin-inline-end: 0px;
        --padding-block-start: 40px;
        --padding-block-end: 0px;
        --padding-inline-start: 0px;
        --padding-inline-end: 16px;
    }
    .elementor-302 .elementor-element.elementor-element-f067a6f {
        border-width: 1px 0px 0px 0px;
        --border-block-start-width: 1px;
        --border-inline-end-width: 0px;
        --border-block-end-width: 0px;
        --border-inline-start-width: 0px;
        --margin-block-start: 0px;
        --margin-block-end: 0px;
        --margin-inline-start: 0px;
        --margin-inline-end: 0px;
        --padding-block-start: 56px;
        --padding-block-end: 0px;
        --padding-inline-start: 0px;
        --padding-inline-end: 0px;
    }
    .elementor-302 .elementor-element.elementor-element-2287200 {
        --margin-block-start: 0px;
        --margin-block-end: 0px;
        --margin-inline-start: 0px;
        --margin-inline-end: 0px;
        --padding-block-start: 0px;
        --padding-block-end: 40px;
        --padding-inline-start: 0px;
        --padding-inline-end: 16px;
    }
    .elementor-302 .elementor-element.elementor-element-6a5b05f {
        --margin-block-start: 0px;
        --margin-block-end: 0px;
        --margin-inline-start: 0px;
        --margin-inline-end: 0px;
    }
    .elementor-302 .elementor-element.elementor-element-0bfe681>.elementor-shape-top svg,
    .elementor-302 .elementor-element.elementor-element-0bfe681>.e-con-inner>.elementor-shape-top svg {
        height: 80px;
    }
    .elementor-302 .elementor-element.elementor-element-0bfe681 {
        --margin-block-start: -120px;
        --margin-block-end: 0px;
        --margin-inline-start: 0px;
        --margin-inline-end: 0px;
        --padding-block-start: 160px;
        --padding-block-end: 24px;
        --padding-inline-start: 24px;
        --padding-inline-end: 24px;
    }
    .elementor-302 .elementor-element.elementor-element-801b51e {
        --margin-block-start: 0px;
        --margin-block-end: 0px;
        --margin-inline-start: 0px;
        --margin-inline-end: 0px;
    }
    .elementor-302 .elementor-element.elementor-element-90a1bad {
        --padding-block-start: 0px;
        --padding-block-end: 40px;
        --padding-inline-start: 0px;
        --padding-inline-end: 0px;
    }
    .elementor-302 .elementor-element.elementor-element-64ff10e .elementor-icon {
        font-size: 16px;
    }
    .elementor-302 .elementor-element.elementor-element-6d9b82d {
        --padding-block-start: 0px;
        --padding-block-end: 40px;
        --padding-inline-start: 0px;
        --padding-inline-end: 0px;
    }
    .elementor-302 .elementor-element.elementor-element-967c213 .elementor-icon {
        font-size: 16px;
    }
    .elementor-302 .elementor-element.elementor-element-36743d1 {
        --padding-block-start: 0px;
        --padding-block-end: 40px;
        --padding-inline-start: 0px;
        --padding-inline-end: 0px;
    }
    .elementor-302 .elementor-element.elementor-element-597e939 .elementor-icon {
        font-size: 16px;
    }
    .elementor-302 .elementor-element.elementor-element-07dd648 {
        --padding-block-start: 0px;
        --padding-block-end: 40px;
        --padding-inline-start: 0px;
        --padding-inline-end: 0px;
    }
    .elementor-302 .elementor-element.elementor-element-ea88eaf .elementor-icon {
        font-size: 16px;
    }
    .elementor-302 .elementor-element.elementor-element-3475308 {
        --padding-block-start: 0px;
        --padding-block-end: 40px;
        --padding-inline-start: 0px;
        --padding-inline-end: 0px;
    }
    .elementor-302 .elementor-element.elementor-element-4cb9b5c .elementor-icon {
        font-size: 16px;
    }
    .elementor-302 .elementor-element.elementor-element-c6a5124 {
        --padding-block-start: 0px;
        --padding-block-end: 0px;
        --padding-inline-start: 0px;
        --padding-inline-end: 0px;
    }
    .elementor-302 .elementor-element.elementor-element-c109b15 .elementor-icon {
        font-size: 16px;
    }
    .elementor-302 .elementor-element.elementor-element-ec19095>.elementor-shape-top svg,
    .elementor-302 .elementor-element.elementor-element-ec19095>.e-con-inner>.elementor-shape-top svg {
        height: 120px;
    }
    .elementor-302 .elementor-element.elementor-element-ec19095 {
        --padding-block-start: 64px;
        --padding-block-end: 0px;
        --padding-inline-start: 24px;
        --padding-inline-end: 24px;
    }
    .elementor-302 .elementor-element.elementor-element-3564e25 {
        --padding-block-start: 0px;
        --padding-block-end: 0px;
        --padding-inline-start: 0px;
        --padding-inline-end: 0px;
    }
    .elementor-302 .elementor-element.elementor-element-8cd58ca .elementor-icon {
        font-size: 24px;
    }
    .elementor-302 .elementor-element.elementor-element-8cd58ca .elementor-icon svg {
        height: 24px;
    }
    .elementor-302 .elementor-element.elementor-element-8cd58ca>.elementor-widget-container {
        margin: 0px 0px 8px 0px;
    }
    .elementor-302 .elementor-element.elementor-element-73d7f84>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-302 .elementor-element.elementor-element-d6f33e1>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-302 .elementor-element.elementor-element-8cfa0b9 {
        --margin-block-start: 48px;
        --margin-block-end: 0px;
        --margin-inline-start: 0px;
        --margin-inline-end: 0px;
    }
    .elementor-302 .elementor-element.elementor-element-23ded02 {
        --width: 50%;
        --padding-block-start: 0px;
        --padding-block-end: 32px;
        --padding-inline-start: 0px;
        --padding-inline-end: 0px;
    }
    .elementor-302 .elementor-element.elementor-element-a2a67c1 .elementor-counter-number-wrapper {
        font-size: 24px;
    }
    .elementor-302 .elementor-element.elementor-element-a2a67c1 .elementor-counter-title {
        font-size: 11px;
    }
    .elementor-302 .elementor-element.elementor-element-ddca3ab {
        --width: 50%;
        --padding-block-start: 0px;
        --padding-block-end: 32px;
        --padding-inline-start: 0px;
        --padding-inline-end: 0px;
    }
    .elementor-302 .elementor-element.elementor-element-35d1909 .elementor-counter-number-wrapper {
        font-size: 24px;
    }
    .elementor-302 .elementor-element.elementor-element-35d1909 .elementor-counter-title {
        font-size: 11px;
    }
    .elementor-302 .elementor-element.elementor-element-b61e18b {
        --width: 50%;
    }
    .elementor-302 .elementor-element.elementor-element-088e5d1 .elementor-counter-number-wrapper {
        font-size: 24px;
    }
    .elementor-302 .elementor-element.elementor-element-088e5d1 .elementor-counter-title {
        font-size: 11px;
    }
    .elementor-302 .elementor-element.elementor-element-39ec3b0 {
        --width: 50%;
    }
    .elementor-302 .elementor-element.elementor-element-b813a51 .elementor-counter-number-wrapper {
        font-size: 24px;
    }
    .elementor-302 .elementor-element.elementor-element-b813a51 .elementor-counter-title {
        font-size: 11px;
    }
}